<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>OSD2F Survey Test Station</title>
</head>
<body>

    <main class="container">
        <h1>OSD2F Survey Test Center Setup</h1>

        {% if successfully_done %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">OSD2F successfully configured!</h4>
                You can now proceed to the <a href="/survey">survey fill-in page</a> and start filling in a survey.
            </div>
        {% endif %}

        <div class="alert alert-{{ 'success' if osd2f.success else 'danger' }}" role="alert">
            <h4 class="alert-heading">Current OSD2F Status</h4>
            <textarea class="form-control" rows="20">{{osd2f_prettified}}</textarea>
        </div>

        {% if not successfully_done %}
            <form method="POST" action="/setup">
                <input type="hidden" name="url" value="{{url}}">
                <div class="mb-3 row">
                    <label for="token" class="form-label col-sm-4 col-form-label">token</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="token" name="token" value="{{defaults.token|default('do not use in production')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="project_title" class="form-label col-sm-4 col-form-label">Project title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="project_title" name="project_title" value="{{defaults.project_title|default('')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="admin_email" class="form-label col-sm-4 col-form-label">Administrator's E-Mail</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="admin_email" name="admin_email" value="{{defaults.admin_email|default('')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="js_callback_after_upload" class="form-label col-sm-4 col-form-label">JS Callback function name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="js_callback_after_upload" name="js_callback_after_upload" value="{{defaults.js_callback_after_upload|default('osd2f_survey_test_debug')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="upload_config" class="form-label col-sm-4 col-form-label">Upload configuration</label>
                    <div class="col-sm-8">
                        {% if defaults.upload_config %}
                            <textarea class="form-control" id="upload_config" name="upload_config" rows="8">{{defaults.upload_config}}</textarea>
                        {% else %}
                            <textarea class="form-control" id="upload_config" name="upload_config" rows="16">{
  "(^|/|\\\\)Abos.csv": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "Kanal-ID",
      "Kanal-URL",
      "Kanaltitel"
    ]
  },
  "(^|/|\\\\)blocked_accounts.json": {
    "in_key": "relationships_blocked_users",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "string_list_data.href",
      "string_list_data.value",
      "string_list_data.timestamp"
    ]
  },
  "(^|/|\\\\)comments.json": {
    "in_key": "comments_v2",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "data.comment.timestamp"
    ]
  },
  "(^|/|\\\\)following.js": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "following.accountId",
      "following.userLink"
    ]
  },
  "(^|/|\\\\)following.json": {
    "in_key": "relationships_following",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "string_list_data.href",
      "string_list_data.value",
      "string_list_data.timestamp"
    ]
  },
  "(^|/|\\\\)like.js": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "like.tweetId",
      "like.fullText",
      "like.expandedUrl"
    ]
  },
  "(^|/|\\\\)liked_comments.json": {
    "in_key": "likes_comment_likes",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "string_list_data.href",
      "string_list_data.timestamp"
    ]
  },
  "(^|/|\\\\)liked_posts.json": {
    "in_key": "likes_media_likes",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "string_list_data.href",
      "string_list_data.timestamp"
    ]
  },
  "(^|/|\\\\)Liked videos.csv": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "csv_skip_n_lines_at_top": 3,
    "accepted_fields": [
      "Video ID",
      "Time Added",
      "Video-ID",
      "Zeitpunkt des Hinzufügens"
    ]
  },
  "(^|/|\\\\)Meine Kommentare.html": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "kommentar"
    ],
    "html_css_element": "li",
    "html_css_fields": [
      { ":current": "text-pure" }
    ]
  },
  "(^|/|\\\\)my-comments.html": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "Comment_Text"
    ],
    "html_css_element": "li",
    "html_css_fields": [
      { ":current": "text-pure" }
    ]
  },
  "(^|/|\\\\)posts_and_comments.json": {
    "in_key": "reactions_v2",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "timestamp",
      "data.reaction.reaction"
    ]
  },
  "(^|/|\\\\)post_comments.json": {
    "in_key": "comments_media_comments",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "string_map_data.Erstellungszeit des Kommentars.timestamp",
      "string_map_data.Comment creation time.timestamp"
    ]
  },
  "(^|/|\\\\)story_likes.json": {
    "in_key": "story_activities_story_likes",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "string_list_data.timestamp"
    ]
  },
  "(^|/|\\\\)story_reactions.json": {
    "in_key": "stories_feedback_v2",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "timestamp",
      "title"
    ]
  },
  "(^|/|\\\\)pages_and_profiles_you_follow.json": {
    "in_key": "pages_followed_v2",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "title",
      "timestamp",
      "data.name"
    ]
  },
  "(^|/|\\\\)pages_you've_liked.json": {
    "in_key": "page_likes_v2",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "name",
      "timestamp"
    ]
  },
  "(^|/|\\\\)search-history.html": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "Such_url",
      "Such_text",
      "Time"
    ],
    "html_css_element": ".outer-cell",
    "html_css_fields": [
      { "a:first-child": "href" },
      { "a:first-child": "text" },
      { ".content-cell": "text-pure" }
    ]
  },
  "(^|/|\\\\)subscriptions.csv": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "Channel ID",
      "Channel URL",
      "Channel title"
    ]
  },
  "(^|/|\\\\)Suchverlauf.html": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "Such_url",
      "Such_text",
      "Time"
    ],
    "html_css_element": ".outer-cell",
    "html_css_fields": [
      { "a:first-child": "href" },
      { "a:first-child": "text" },
      { ".content-cell": "text-pure" }
    ]
  },
  "(^|/|\\\\)tweet.js": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "tweet.retweeted",
      "tweet.created_at",
      "tweet.full_text",
      "tweet.entities.urls.expanded_url",
      "tweet.id",
      "tweet.entities.user_mentions.screen_name",
      "tweet.entities.user_mentions.id",
      "tweet.in_reply_to_screen_name",
      "tweet.in_reply_to_user_id"
    ]
  },
  "(^|/|\\\\)watch-history.html": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "video_url",
      "video_title",
      "channel",
      "Time"
    ],
    "html_css_element": ".outer-cell",
    "html_css_fields": [
      { "a:first-child": "href" },
      { "a:first-child": "text" },
      { "a:nth-of-type(2)": "text" },
      { ".content-cell": "text-pure" }
    ]
  },
  "(^|/|\\\\)Wiedergabeverlauf.html": {
    "in_key": "data",
    "anonymizers": [
      { "redact_text": "" }
    ],
    "accepted_fields": [
      "video_url",
      "video_title",
      "channel",
      "Time"
    ],
    "html_css_element": ".outer-cell",
    "html_css_fields": [
      { "a:first-child": "href" },
      { "a:first-child": "text" },
      { "a:nth-of-type(2)": "text" },
      { ".content-cell": "text-pure" }
    ]
  }
}</textarea>
                        {% endif %}
                    </div>
                </div>

                <h4 class="border-top pt-3 mt-3">Upload Box labels</h4>
                <div class="mb-3 row">
                    <label for="upload_box_header" class="form-label col-sm-4 col-form-label">header</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="upload_box_header" name="upload_box_header" value="{{defaults.upload_box_header|default('Datei(en) auswählen:')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="upload_box_explanation" class="form-label col-sm-4 col-form-label">explanation (new lines will yield separate bullet points)</label>
                    <div class="col-sm-8">
{% set upload_box_explanation_default %}
Nutzen Sie den Windows Explorer/Finder auf Ihrem Gerät, um die heruntergeladenen ZIP-Dateien oder die enthaltenen Ordner für die Spende auszuwählen. Sie können die Dateien oder den Ordner auch per Drag and Drop hier hin ziehen.
{% endset %}
                        <textarea class="form-control" id="upload_box_explanation" name="upload_box_explanation" rows="4">{{defaults.upload_box_explanation|default(upload_box_explanation_default)}}</textarea>
                    </div>
                </div>

                <h4 class="border-top pt-3 mt-3">Data Preview labels</h4>
                <div class="mb-3 row">
                    <label for="preview_component_title" class="form-label col-sm-4 col-form-label">title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_title" name="preview_component_title" value="{{defaults.preview_component_title|default('Ihre Datenspende')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_explanation" class="form-label col-sm-4 col-form-label">explanation (new lines will yield separate bullet points)</label>
                    <div class="col-sm-8">
{% set preview_component_explanation_default %}
Hier können Sie Ihre geplante Datenspende im Detail einsehen. Die Spende teilt sich möglicherweise in verschiedene Datentypen ein.
Nutzen Sie die Suchleiste, um innerhalb der Daten nach Inhalten zu suchen.
Um Inhalte vor der Spende zu entfernen, können Sie die entsprechende Zeile anwählen und auf 'Entferne ausgewählte Zeilen' klicken.
{% endset %}
                        <textarea class="form-control" id="preview_component_explanation" name="preview_component_explanation" rows="4">{{defaults.preview_component_explanation|default(preview_component_explanation_default)}}</textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_entries_in_file_text" class="form-label col-sm-4 col-form-label">entries_in_file_text</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_entries_in_file_text" name="preview_component_entries_in_file_text" value="{{defaults.preview_component_entries_in_file_text|default('Einträge in dieser Datei: ')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_next_file_button" class="form-label col-sm-4 col-form-label">next_file_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_next_file_button" name="preview_component_next_file_button" value="{{defaults.preview_component_next_file_button|default('Nächste Datei')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_previous_file_button" class="form-label col-sm-4 col-form-label">previous_file_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_previous_file_button" name="preview_component_previous_file_button" value="{{defaults.preview_component_previous_file_button|default('Vorherige Datei')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_search_prompt" class="form-label col-sm-4 col-form-label">search_prompt</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_search_prompt" name="preview_component_search_prompt" value="{{defaults.preview_component_search_prompt|default('Suche')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_search_box_placeholder" class="form-label col-sm-4 col-form-label">search_box_placeholder</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_search_box_placeholder" name="preview_component_search_box_placeholder" value="{{defaults.preview_component_search_box_placeholder|default('Geben Sie hier einen Suchbegriff ein.')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="preview_component_remove_rows_button" class="form-label col-sm-4 col-form-label">remove_rows_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="preview_component_remove_rows_button" name="preview_component_remove_rows_button" value="{{defaults.preview_component_remove_rows_button|default('Entferne ausgewählte Zeilen')}}">
                    </div>
                </div>

                <h4 class="border-top pt-3 mt-3">Consent Popup labels</h4>
                <div class="mb-3 row">
                    <label for="consent_popup_title" class="form-label col-sm-4 col-form-label">title</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="consent_popup_title" name="consent_popup_title" value="{{defaults.consent_popup_title|default('Ich möchte meine Daten spenden')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="consent_popup_lead" class="form-label col-sm-4 col-form-label">lead</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="consent_popup_lead" name="consent_popup_lead" value="{{defaults.consent_popup_lead|default('Nutzungsbedingungen')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="consent_popup_points" class="form-label col-sm-4 col-form-label">points (new lines will yield separate bullet points)</label>
                    <div class="col-sm-8">
{% set consent_popup_points_default %}
Ihre Daten spenden Sie uns für wissenschaftliche Zwecke in der zuletzt gesehenen (anonymisierten) Form.
Wir speichern diese (anonymisierten) Daten ausführlich für wissenschaftliche Zwecke auf unseren Servern in Deutschland.
Die Daten werden nicht mit identifizierenden Merkmalen Ihrer Person, beispielsweise einer E-Mail-Adresse kombiniert.
{% endset %}
                        <textarea class="form-control" id="consent_popup_points" name="consent_popup_points" rows="4">{{defaults.consent_popup_points|default(consent_popup_points_default)}}</textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="consent_popup_end_text" class="form-label col-sm-4 col-form-label">end_text</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="consent_popup_end_text" name="consent_popup_end_text" value="{{defaults.consent_popup_end_text|default('Indem Sie auf Bestätigen klicken stimmen Sie unseren Nutzungsbedingungen zu.')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="consent_popup_accept_button" class="form-label col-sm-4 col-form-label">accept_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="consent_popup_accept_button" name="consent_popup_accept_button" value="{{defaults.consent_popup_accept_button|default('Bestätigen/Spenden')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="consent_popup_decline_button" class="form-label col-sm-4 col-form-label">decline_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="consent_popup_decline_button" name="consent_popup_decline_button" value="{{defaults.consent_popup_decline_button|default('Ablehnen')}}">
                    </div>
                </div>

                <h4 class="border-top pt-3 mt-3">General labels</h4>
                <div class="mb-3 row">
                    <label for="processing_text" class="form-label col-sm-4 col-form-label">processing_text</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="processing_text" name="processing_text" value="{{defaults.processing_text|default('Bearbeitet Datei für Vorschau')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="empty_selection" class="form-label col-sm-4 col-form-label">empty_selection</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="empty_selection" name="empty_selection" value="{{defaults.empty_selection|default('Das Datenformat wird nicht unterstützt oder die Datei enthält keine Daten. Haben Sie die richtige(n) Datei(n) ausgewählt?')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="file_indicator_text" class="form-label col-sm-4 col-form-label">file_indicator_text</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="file_indicator_text" name="file_indicator_text" value="{{defaults.file_indicator_text|default('Einträge in Ihrer Datenspende: ')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="thanks_text" class="form-label col-sm-4 col-form-label">thanks_text</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="thanks_text" name="thanks_text" value="{{defaults.thanks_text|default('Vielen Dank, dass Sie uns mit Ihrer Datenspende unterstützen!')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inspect_button" class="form-label col-sm-4 col-form-label">inspect_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inspect_button" name="inspect_button" value="{{defaults.inspect_button|default('Einsehen und Bearbeiten')}}">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="donate_button" class="form-label col-sm-4 col-form-label">donate_button</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="donate_button" name="donate_button" value="{{defaults.donate_button|default('Spenden')}}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-4 col-form-label"></div>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary">Configure OSD2F</button>
                    </div>
                </div>
            </form>
        {% endif %}


        <footer class="py-3 my-4">
            <p class="text-center text-muted border-top pt-3"><a href="/">Back to Home</a></p>
        </footer>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>